.side-menu-container {
  width: 300px;
  display: flex;
  flex-direction: column;

  button {
    background-color: white;
    border: none;
    width: 240px;
    padding: 15px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
  }

  button:hover {
    background-color: #feefc3;
  }
}
