<section class="notes-list-container">
  <app-create-note></app-create-note>

  <h2 *ngIf="pinnedNotesExistence === true">Pinned</h2>
  <section class="pinned-notes-container">
    <div *ngFor="let note of notesService.notesData" class="pinned-notes-list">
      <div *ngIf="note.isPinned === true" class="pinned-note">
        <app-note (click)="onOpenModal(note)" [noteContent]="note"></app-note>
      </div>
    </div>
  </section>

  <section class="notes-list">
    <div *ngFor="let note of notesService.notesData" class="pinned-notes-list">
      <div *ngIf="note.isPinned === false" class="pinned-note">
        <app-note (click)="onOpenModal(note)" [noteContent]="note"></app-note>
      </div>
    </div>
  </section>

  <!-- modal wrapper: -->
  <div
    *ngIf="modalService.activeNoteModal"
    (click)="onCloseModal()"
    class="modal-content"
  >
    <app-modal (click)="handleClick($event)"></app-modal>
  </div>
</section>
