<!-- create note component will be created and rendered here: -->
<!-- when the user clicks outside of the create note component the note gets created: -->

<section class="notes-list-container">
  <app-create-note></app-create-note>

  <div class="notes-list">
    <app-note
      *ngFor="let note of notesService.notesData"
      (click)="onOpenModal(note)"
      [noteContent]="note"
    ></app-note>
  </div>

  <!-- modal wrapper: -->
  <div *ngIf="activeNoteModal" (click)="onCloseModal()" class="modal-content">
    <!-- modal -->
    <app-modal (click)="handleClick($event)"></app-modal>

    <!-- 
      <app-note
      id="modal-element"
      (click)="handleClick($event)"
      [noteContent]="noteModalData"
    ></app-note>
     -->
  </div>
</section>
