.notes-list-container {
  .notes-list {
    display: flex;
    flex-wrap: wrap;
  }

  .modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(59, 59, 59, 0.375);
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
  }

  .note-modal {
    pointer-events: none;
  }
}
