.card-container {
  border-radius: 8px;
  width: 300px;
  min-height: 150px;
  margin: 15px;
  padding: 10px;
  border: 1px solid rgb(192, 192, 192);

  button {
    padding: 8px;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: white;

    .change-color-btn {
      color: gray;
      font-size: 1rem;
    }
  }

  button:hover {
    background-color: whitesmoke;
  }

  ul {
    width: auto;
    list-style-type: none;
    display: flex;
    justify-content: left;
    padding-left: 0;
    border-radius: 5px;
    background-color: whitesmoke;

    li {
      width: 20px;
      height: 18px;
      margin: 4px;
      border-radius: 45%;
      cursor: pointer;
    }
  }

  h2,
  p {
    color: #202124;
  }
}

.card-container:hover {
  box-shadow: 0 0 8px rgb(119, 119, 119);
}

.red-color {
  background-color: #f28b82;
  // border: 1px solid #f28b82;
}

.orange-color {
  background-color: #fbbc04;
  // border: 1px solid #fbbc04;
}

.yellow-color {
  background-color: #fff475;
  // border: 1px solid #fff475;
}

.green-color {
  background-color: #ccff90;
  // border: 1px solid #ccff90;
}

.cyan-color {
  background-color: #a7ffeb;
  // border: 1px solid #a7ffeb;
}

.blue-color {
  background-color: #cbf0f8;
  // border: 1px solid #cbf0f8;
}

.dark-blue-color {
  background-color: #aecbfa;
  // border: 1px solid #aecbfa;
}

.violet-color {
  background-color: #d7aefb;
  // border: 1px solid #d7aefb;
}

.pink-color {
  background-color: #fdcfe8;
  // border: 1px solid #fdcfe8;
}

.maron-color {
  background-color: #e6c9a8;
  // border: 1px solid #e6c9a8;
}

.gray-color {
  background-color: #e8eaed;
  // border: 1px solid #e8eaed;
}

.white {
  background-color: white;
  // border: 1px solid rgb(192, 192, 192);
}
