<section
  id="note"
  class="card-container"
  [style.background-color]="noteContent.selectedColor"
  [style.background-image]="noteContent.backgroundImage"
  [ngClass]="'orange-border'"
>
  <img
    *ngIf="noteContent.uploadedImage"
    [src]="noteContent.uploadedImage"
    class="note-cover-img"
    alt="note cover"
  />

  <h2>{{ noteContent.title }}</h2>
  <p>{{ noteContent.text }}</p>

  <button (click)="onOpenColorsMenu($event)">
    <fa-icon class="change-color-btn" [icon]="brushIcon"></fa-icon>
  </button>

  <!-- add on the bottom an color options list: -->
  <ul *ngIf="isColorMenuOpen">
    <li
      *ngFor="let color of colors"
      [style.background-color]="color"
      (click)="onSetNoteColor(color, $event)"
    ></li>
  </ul>
  <ul *ngIf="isColorMenuOpen">
    <li
      *ngFor="let image of backgroundImages"
      class="background-image-option"
      [style.background-image]="image"
      (click)="onSetNoteBackgroundImage(image, $event)"
    ></li>
  </ul>
</section>
