<section
  id="modal"
  class="modal-container"
  [style.background-color]="modalService.noteModalData.selectedColor"
  [style.background-image]="modalService.noteModalData.backgroundImage"
  [ngClass]="'orange-border'"
>
  <div class="modal-inputs">
    <div
      *ngIf="modalService.noteModalData.uploadedImage"
      class="note-cover-image-container"
      (mouseenter)="onShowDeleteBtnOnHover()"
      (mouseleave)="onShowDeleteBtnOnHover()"
    >
      <img [src]="modalService.noteModalData.uploadedImage" alt="note cover" />
      <button *ngIf="deleteImgButtonHover" (click)="onDeleteNoteImage()">
        <fa-icon class="delete-note-img-btn" [icon]="trashIcon"></fa-icon>
      </button>
    </div>

    <input
      id="title-input"
      type="text"
      [value]="modalService.noteModalData.title"
      #titleData
      [placeholder]="modalService.noteModalData.title"
      (change)="onSetNoteTitle(titleData.value)"
    />

    <textarea
      id="text-input"
      cols="60"
      rows="10"
      #textData
      [value]="modalService.noteModalData.text"
      (change)="onSetNoteText(textData.value)"
    >
    </textarea>
  </div>

  <div class="modal-menu-buttons">
    <button (click)="onOpenColorsMenu()">
      <fa-icon class="change-color-btn" [icon]="brushIcon"></fa-icon>
    </button>

    <button
      *ngIf="modalService.noteModalData.id"
      (click)="onDeleteNote(modalService.noteModalData.id)"
    >
      <fa-icon class="delete-note-btn" [icon]="trashIcon"></fa-icon>
    </button>

    <button (click)="onOpenImgUploadMenu()">
      <fa-icon class="upload-image-btn" [icon]="imageIcon"></fa-icon>
    </button>

    <button (click)="onOpenDrawCanvas()">
      <fa-icon class="upload-image-btn" [icon]="pencilIcon"></fa-icon>
    </button>

    <h4>
      Last update: {{ modalService.noteModalData.lastUpdate | date: "medium" }}
    </h4>
  </div>

  <app-img-upload *ngIf="isImgUploadOpen"></app-img-upload>

  <ul *ngIf="isColorMenuOpen">
    <li
      *ngFor="let color of colors"
      [style.background-color]="color"
      (click)="onSetNoteColor(color)"
    ></li>
  </ul>
  <ul *ngIf="isColorMenuOpen">
    <li
      *ngFor="let image of backgroundImages"
      class="background-image-option"
      [style.background-image]="image"
      (click)="onSetNoteBackgroundImage(image)"
    ></li>
  </ul>
</section>
