<section
  id="modal"
  class="modal-container"
  [class]="modalService.noteModalData.selectedColor"
  [ngClass]="'orange-border'"
>
  <div class="modal-inputs">
    <input
      id="title-input"
      type="text"
      [value]="modalService.noteModalData.title"
      #titleData
      [placeholder]="modalService.noteModalData.title"
      (change)="onSetNoteTitle(titleData.value)"
    />

    <textarea
      id="text-input"
      cols="60"
      rows="10"
      #textData
      [value]="modalService.noteModalData.text"
      (change)="onSetNoteText(textData.value)"
    >
    </textarea>
  </div>

  <div class="modal-menu-buttons">
    <button (click)="onOpenColorsMenu()">
      <fa-icon class="change-color-btn" [icon]="brushIcon"></fa-icon>
    </button>

    <button
      *ngIf="modalService.noteModalData.id"
      (click)="onDeleteNote(modalService.noteModalData.id)"
    >
      <fa-icon class="delete-note-btn" [icon]="trashIcon"></fa-icon>
    </button>
  </div>

  <!-- add on the bottom an color options list: -->
  <ul *ngIf="isColorMenuOpen">
    <li
      *ngFor="let color of colors"
      [ngClass]="color"
      (click)="onSetNoteColor(color)"
    ></li>
  </ul>
</section>
