// later on try to make the styles generic for the note and modal components:
.modal-container {
  border-radius: 8px;
  width: 550px;
  min-height: 250px;
  margin: 15px;
  padding: 10px;
  border: 1px solid rgb(192, 192, 192);

  button {
    padding: 8px;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: white;

    .change-color-btn,
    .delete-note-btn {
      color: gray;
      font-size: 1.5rem;
    }
  }

  button:hover {
    background-color: whitesmoke;
  }

  ul {
    width: fit-content;
    list-style-type: none;
    display: flex;
    justify-content: left;
    padding-left: 0;
    border-radius: 5px;
    background-color: whitesmoke;

    li {
      width: 25px;
      height: 23px;
      margin: 6px;
      border-radius: 45%;
      cursor: pointer;
    }
  }

  .modal-menu-buttons {
    button {
      margin-right: 12px;
    }
  }

  .modal-inputs {
    display: flex;
    flex-direction: column;

    input {
      width: auto;
      margin-top: 10px;
      margin-bottom: 10px;
      width: 100%;
      color: #202124;
      background: transparent;
      border: none;
      outline: none;
    }

    textarea {
      width: auto;
      margin-top: 10px;
      margin-bottom: 10px;
      width: 100%;
      color: #202124;
      background: transparent;
      border: none;
      outline: none;
      padding: 0;
      text-align: left;
      resize: none;
    }

    #title-input {
      font-size: 1.5rem;
    }

    #text-input {
      font-size: 18px;
      font-family: Roboto, Arial, sans-serif;
    }
  }
}

.modal-container:hover {
  box-shadow: 0 0 8px rgb(119, 119, 119);
}
