<section
  id="modal"
  class="modal-container"
  [class]="modalService.noteModalData.selectedColor"
  [ngClass]="'orange-border'"
>
  <div class="modal-inputs">
    <input
      id="title-input"
      type="text"
      [value]="modalService.noteModalData.title"
      #titleData
      [placeholder]="modalService.noteModalData.title"
      (change)="onSetNoteTitle(titleData.value)"
    />
    <input
      id="text-input"
      type="text"
      [value]="modalService.noteModalData.text"
      #textData
      [placeholder]="modalService.noteModalData.text"
      (change)="onSetNoteText(textData.value)"
    />
  </div>

  <button (click)="onOpenColorsMenu()">
    <fa-icon class="change-color-btn" [icon]="brushIcon"></fa-icon>
  </button>

  <!-- add on the bottom an color options list: -->
  <ul *ngIf="isColorMenuOpen">
    <li
      *ngFor="let color of colors"
      [ngClass]="color"
      (click)="onSetNoteColor(color)"
    ></li>
  </ul>
</section>
