@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  // global app font style:
  font-family: Roboto, Arial, sans-serif;
}

.main-app-container {
  .side-menu-and-notes-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
  }
}
